@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --bodyFont: 'Prompt', sans-serif;
    --headingFont: 'Syne', sans-serif;

    --bg-licorice: #1F1300;
    --color-licorice: #1F1300;

    --bg-tomato: #F2613F;
    --color-tomato: #F2613F;

    --bg-orange: #FF7F11;
    --color-orange: #FF7F11;

    --bg-snow: #FBF5F3;
    --color-snow: #FBF5F3;

    --bg-white: #ffffff;
    --color-white: #ffffff;

}

body {
    font-family: var(--bodyFont);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headingFont);
    font-weight: bold;
    font-variant-numeric: lining-nums;
}

/* Custom CSS */

.active {
    color: var(--color-white)
}

hr {
    border-color: var(--bg-licorice);
}

hr.active {
    border-color: var(--bg-white);
}

.fa-circle-arrow-up {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a:hover {
    text-decoration: none !important;
}

a:hover .fa-circle-arrow-up {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

section {
    overflow: hidden;
}

nav a {
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

#navbarToggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

span {
    display: inline-block;
}

span.box-left {
    -webkit-transform: translate(-150px, 0px);
    -ms-transform: translate(-150px, 0px);
    transform: translate(-150px, 0px);
}

span.box-right {
    -webkit-transform: translate(150px, 0px);
    -ms-transform: translate(150px, 0px);
    transform: translate(150px, 0px);
}

#what-we-do ul {
    display: none;
}

#what-we-do ul.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width : 767px) {

    span.box-left,
    span.box-right {
        -webkit-transform: translate(0px, 0px) !important;
        -ms-transform: translate(0px, 0px) !important;
        transform: translate(0px, 0px) !important;
    }


}