@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --bodyFont: 'Prompt', sans-serif;
    --headingFont: 'Syne', sans-serif;

    --bg-licorice: #1F1300;
    --color-licorice: #1F1300;

    --bg-tomato: #F2613F;
    --color-tomato: #F2613F;

    --bg-orange: #FF7F11;
    --color-orange: #FF7F11;

    --bg-snow: #FBF5F3;
    --color-snow: #FBF5F3;

    --bg-white: #ffffff;
    --color-white: #ffffff;

}

body {
    font-family: var(--bodyFont);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headingFont);
    font-weight: bold;
    font-variant-numeric: lining-nums;
}

/* Custom CSS */

.active {
    color: var(--color-white)
}

hr {
    border-color: var(--bg-licorice);
    width: 00;
    opacity: 0;
    -webkit-transition: width .5s ease, opacity .5s ease !important;
    -o-transition: width .5s ease, opacity .5s ease !important;
    transition: width .5s ease, opacity .5s ease !important;
}

hr.active {
    border-color: var(--bg-white);
    opacity: 1 !important;
    width: 100%;
}

.fa-circle-arrow-up {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a:hover {
    text-decoration: none !important;
}

a:hover .fa-circle-arrow-up {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

section {
    overflow: hidden;
    position: relative;
}

nav a {
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}

#navbarToggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 10;
}

.logo {
    z-index: 10;
}

span {
    display: inline-block;
}

span.box-left {
    -webkit-transform: translate(-150px, 0px);
    -ms-transform: translate(-150px, 0px);
    transform: translate(-150px, 0px);
}

span.box-right {
    -webkit-transform: translate(150px, 0px);
    -ms-transform: translate(150px, 0px);
    transform: translate(150px, 0px);
}

/* #clients img {
    max-width: 10vw;
    max-height: 90px;
} */

#what-we-do ul {
    opacity: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: opacity 0.5s ease, height 0.5s ease;
    -o-transition: opacity 0.5s ease, height 0.5s ease;
    transition: opacity 0.5s ease, height 0.5s ease;
}


#what-we-do ul.active {
    opacity: 1 !important;
    height: auto !important
}

.nav {
    overflow: hidden;
    top: 0;
    right: -100%;
    background: var(--bg-tomato);
    z-index: 0;
    left: 100%;
    opacity: 0;
}

.nav.open {
    opacity: 1;
    background: var(--bg-tomato);
    right: 0;
    left: 0;
    z-index: 1;
}

.nav li a,
.nav li a svg {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

@media (max-width : 639px) {

    .nav,
    .nav.open {
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }


    span.box-left,
    span.box-right {
        -webkit-transform: translate(0px, 0px) !important;
        -ms-transform: translate(0px, 0px) !important;
        transform: translate(0px, 0px) !important;
    }


}

@media (min-width : 640px) {

    .nav,
    .nav-open {
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

}

@media (min-width : 768px) {}

@media (min-width : 1024px) {}

@media (min-width : 1280px) {

    .nav {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        opacity: 1;
    }

}

@media (min-width : 1536px) {}